<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <body class="action">
    <div class="outer-container">
      <div class="text-container">
        <h1 style="color: white">Your Collection</h1>
        <div
          class="text-block your-items"
        >
          <% for (category in allItems) { %> <%
          allItems[category].items.forEach(function(item, i) { %>

          <div class="item-cart-container" data-category="<%=category%>"" data-item="<%=item.title%>">
            <img height="200" src="<%= item.image %>" />
            <div class="item-cart-text" data-item="<%=item.title%>">
              <div class="item-cart-title">
                <strong><%= item.title %></strong>
              </div>
              <div class="item-cart-desc"><%= item.description %></div>
            </div>
          </div>

          <% }); %> <% } %>
        </div>
      </div>
      <div class="text-container" style="padding-top: 0px">
        <h1 style="color: white; margin-bottom: 15px">Take Action!</h1>
        <div class="text-block">
          <div>
            <div>
              <strong
                >Help in the effort to research and design more sustainable
                products, by supporting research groups such as:</strong
              >
            </div>
            <ul style="list-style-type: none">
              <li>Jack Ma, University of Wisconsin, wood computer chips</li>
              <li>Neri Oxman, MIT Media Lab, biological architecture</li>
              <li>
                Bouwer Research Group, Johns Hopkins University, algae batteries
              </li>
              <li>
                Karin Ljubic Fister, University Medical Centre Maribor,
                Slovenia, plant DNA storage
              </li>
            </ul>
          </div>
          <div>
            <div>
              <strong
                >Use devices for their full lifespan, or at least donate or
                regift them
              </strong>
            </div>
            EPA lists donation centers
            <a
              href="https://www.epa.gov/recycle/electronics-donation-and-recycling"
              target="_blank"
              >here</a
            >
          </div>
          <br />
          <div>
            <strong>Get devices fixed rather than getting rid of them</strong>
          </div>
          <br />
          <div>
            <strong
              >Suggest and vote for policies that serve to reduce
              e-waste</strong
            >
          </div>
          <br />

          <div>
            <strong>Recycle devices responsibly, such as through</strong>
            <a href="https://www.ecoatm.com" target="_blank">ecoATM</a>
          </div>
          <br />

          <div>
            <div>
              <strong
                >Become a member of
                <a
                  href="https://www.step-initiative.org/become-a-step-member.html"
                  target="_blank"
                  >StEP</a
                >
              </strong>
            </div>
            “StEP envisions being an agent and steward of change, uniquely
            leading global thinking, knowledge, awareness and innovation in the
            management and development of environmentally, economically and
            ethically-sound e-waste resource recovery, re-use and prevention.”
          </div>
          <br />

          <div>
            <div>
              <strong>
                Get involved with the
                <a href="https://globalelectronicscouncil.org" target="_blank"
                  >Global Electronics Council</a
                ></strong
              >
            </div>
            “The Global Electronics Council (GEC) is a mission-driven non-profit
            launched in 2006 and dedicated to creating a more just and
            sustainable world. Our focus on electronics is due to our
            recognition that electronics have become increasingly pervasive,
            finding their way into products within our home, car, clothing,
            toys, and even the watches we wear. While the technologies that rely
            on electronics can provide tremendous societal good, they are also
            the source of significant negative environmental and social impacts.
            GEC acts as the fulcrum point between the institutional purchasers
            who buy electronics and the manufacturers who produce them. We
            support large-scale purchasers, both public and private, with tools
            and resources. By deciding to buy sustainable technology,
            institutional purchasers leverage their purchasing decisions towards
            creating a more sustainable and just world.”
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/scripts'); %>
  </body>
</html>
