<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <body class="workshop">
    <div id="workshop-container">
      <button id="workshop-gift-btn" type="button" class="btn btn-dark">
        Go to Garden
      </button>
      <div class="container-fluid" id="gallery-container">
        <!-- Show draggable box for each category -->
        <% for (category in allItems) { %>
        <div class="category-container drag-drop" data-category="<%=category%>">
          <div><strong><%= category %></strong></div>
          <div class="item-choice">
            <%= allItems[category].items[0].title %>
          </div>
          <img
            class="item-image"
            height="120"
            src="<%= allItems[category].items[0].image %>"
          />
        </div>
        <% } %>
      </div>

      <div id="workshop-table" class="dropzone"></div>
    </div>

    <!-- Modal for each category -->
    <% for (category in allItems) { %>
    <div
      class="modal category-modal fade"
      id="<%=category%>-modal"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><%=category%></h5>
          </div>
          <div class="modal-body modal-container" data-category="<%=category%>">
            <!-- Buttons to select item -->
            <div class="btn-group" role="group" style="margin-bottom: 10px">
              <% allItems[category].items.forEach(function(item) { %>
              <button
                type="button"
                class="item-modal-btn btn btn-outline-primary"
                data-item="<%=item.title%>"
                data-category="<%=category%>"
              >
                <%=item.title%>
              </button>
              <% }); %>
            </div>

            <!-- Show image and description for each item -->
            <% allItems[category].items.forEach(function(item) { %>
            <div class="item-modal-container" data-item="<%=item.title%>">
              <img
                height="300"
                style="margin-right: 10px"
                src="<%= item.image %>"
              />
              <div class="item-modal-text" data-item="<%=item.title%>">
                <div class="item-modal-title">
                  <strong><%= item.title %></strong>
                </div>
                <div class="item-modal-desc"><%= item.description %></div>
              </div>
            </div>
            <% }); %>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary modal-done-btn"
              data-bs-dismiss="modal"
              data-category="<%=category%>"
            >
              Done
            </button>
          </div>
        </div>
      </div>
    </div>
    <% } %>

    <!-- Intro pop-up -->
    <div id="workshop-intro" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Welcome to the Workshop!</h5>
          </div>
          <div class="modal-body">
            <p>
              Here, you'll find an array of speculative technological-botanical
              products. We invite you to interact with the products, drag them
              onto the worktable, and build your own plant computer!
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary modal-done-btn"
              data-bs-dismiss="modal"
              data-category="<%=category%>"
            >
              Done
            </button>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/scripts'); %>
  </body>
</html>
