<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %> <%- include('partials/scripts'); %>
  </head>
  <style>
    body {
      background: url("Workshop.png") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  </style>
  <body class="workshop">
    <div id="workshop-container">
      <!-- Customize gallery here -->
      <div class="container-fluid" id="gallery-container">
        <% for (category in allItems) { %> <%
        allItems[category].forEach(function(item) { %>
        <div
          class="item-container item-drop drag-drop"
          data-category="<%=category%>"
          data-item="<%=item.title%>"
        >
          <div class="item-title"><%= category %></div>
          <!-- <div class="item-title"><%= item.title %></div> -->
          <!-- <div class="item-description"><%=item.description%></div> -->
          <img
            class="item-image"
            height="100"
            width="100"
            src="<%= item.image %>"
          />
        </div>
        <% }); %> <% } %>
      </div>

      <!-- <div id="yes-drop" class="drag-drop">#yes-drop</div> -->
      <div id="workshop-table" class="dropzone"></div>
    </div>

    <!-- Click to open Cart modal (below) -->
    <button id="cart-btn" type="button" class="btn btn-primary">
      Show Cart
    </button>
  </body>
</html>
